<div class="h-full bg-slate-300">
     <h1 class="pt-6 text-5xl font-bold text-center">HEchat</h1>
     <p class="flex mx-24 mt-6 text-xl leading-8 text-justify indent-20">    This application is designed to provide secure communication and interaction among
          users through a user-friendly interface. It features robust authentication methods, including email/password
          and Google sign-in ensuring a seamless onboarding experience.
          A key aspect of the project is the implementation of homomorphic encryption, which computations to be
          performed on encrypted data without needing to decrypt it. This innovative approach enhances privacy and
          security, making the app particularly suitable for sensitive information exchange.
          Users can enjoy functionalities such as chat and user management while having the peace of that their data is
          protected even during processing.</p>

          
     </div>
     <div class="mt-12">
          <router-outlet></router-outlet>
     </div>